/venv
**/__pycache__/
*.pyc
*.spec
downloaded
extracted
build
dist
floating_window_demo.py
main.db
vjezba.py
logs/*
SubtitleSearcher/data/user_settings/User_settings.json
SubtitleSearcher/data/user_settings/Titlovi_settings.json
SubtitleSearcher/data/user_settings/OpenSubtitles_settings.json